{% load static  %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"/>
 <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>  
 <title>Document</title>
</head>
<body>
   <div class="container">
        <h2>Translator</h2>
        <div class="row selects">
            <div class="select">
                <select id="from-language">
                    <option value="en" selected>English</option>
                    <option value="ja">Japenese</option>
                    <option value="zh">Chinese</option>
                    <option value="hi">Hindi</option>
                    <option value="it">Italian</option>
                    <option value="es">Spanish</option>
                    <option value="fr">french</option>
                    <option value="de">German</option>
                    <option value="pt">Portuguese</option>
                    <option value="ru">Russian</option>
                    <option value="ko">Korean</option>
                    <option value="ar">Arabic</option>
                </select>
            </div>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <div class="select">
                <select id="to-language">
                    <option value="en" selected>English</option>
                    <option value="ja">Japenese</option>
                    <option value="zh">Chinese</option>
                    <option value="hi">Hindi</option>
                    <option value="it">Italian</option>
                    <option value="es">Spanish</option>
                    <option value="fr" selected>french</option>
                    <option value="de">German</option>
                    <option value="pt">Portuguese</option>
                    <option value="ru">Russian</option>
                    <option value="ko">Korean</option>
                    <option value="ar">Arabic</option>
                </select>
            </div>
         </div>
         <div class="form-control">
            <div class="card">
                <textarea class="input" placeholder="text...."></textarea>
            </div>
            <ion-icon name="arrow-forward-outline" class="rotate"></ion-icon>
            <div class="card">
                <textarea class="output" placeholder="text...."  readonly></textarea>
            </div>
         </div>
         <div class="row">
           <button class="submit wk-rp">
            <p>translate</p>
           </button>
         </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{% static 'home/js/ripples.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
</body>
</html>